@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, p, h1, h2, h3 {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.content {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.commonPadding {
  padding: 0 349px 0 360px;
}

/* header */
.features {
  background-color: #00312D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.featureTop {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.95);
}
.featureTop:after {
  content: '';
  width: 22px;
  height: 22px;
  position: absolute;
  left: -32px;
  background-image: url(img/tick.png);
}

.headerCenter {
  height: 700px;
  background-image: url(img/mask.jpg);
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-left: 360px;
}

.title {
  font-weight: 700;
  font-size: 80px;
  line-height: 70px;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 30px 0 50px 0;
}

.buyBtn {
  width: 260px;
  height: 65px;
  background: #00312D;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}

.pictures {
  position: relative;
  top: 75px;
  left: -75px;
}

.mainPic {
  position: relative;
  z-index: 2;
}

.mark1 {
  position: absolute;
  left: 30px;
  top: 270px; 
}
.mark2 {
  position: absolute;
  right: 110px;
  top: 100px;
}
.mark3 {
  position: absolute;
  left: 240px;
  top: 410px;
  z-index: 3;
}

.bottom {
  height: 150px;
}

.featureBottom {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.featureBottom:after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  left: -70px;
  top: -10px;
  background-image: url(img/free.png);
}

/* main */

/* part 1 */
.part1 {
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 156px;
}

.bestseller {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #999999;
}

.line {
  width: 50px;
  height: 2px;
  background: #10A196;
  margin: 25px 0 27px 0;
}

.title1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #00312D;
}
.titleMark {
  color: #10A196;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 387px;
  height: 626px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  position: relative;
}
.product:after {
  content: 'Bestseller';
  top: -13px;
  position: absolute;
  width: 116px;
  height: 26px;
  background: #FFC700;
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}

.productImage {
  background: linear-gradient(180deg, #FAFAFA 0%, rgba(250, 250, 250, 0) 100%);
  padding: 48px 96px 31px 98px;
}

.productTitle {
  font-weight: 600;
  font-size: 24px;
  color: #00312D;
  margin-top: 16px;
}

.productDesc {
  font-weight: 500;
  font-size: 12px;
  color: #808080;
}

.productPrice {
  font-weight: 600;
  font-size: 20px;
  color: #00312D;
  margin: 26px 0 4px 0;
}

.productNote {
  font-weight: 500;
  font-size: 8px;
  color: #808080;
}

.productActions {
  display: flex;
  justify-content: right;
  padding: 23px 21px 21px 21px;
  width: 100%;
}

.productBtn {
  width: 100%;
  max-width: 285px;
  height: 50px;
  background: #10A196;
  border-radius: 3px;
  color: #FFFFFF;
  text-transform: uppercase;
  position: relative;
}

.productBtn:after {
  content: '';
  position: absolute;
  background-image: url(img/basket.png);
  width: 50px;
  height: 50px;
  left: -60px;
  top: 0;
  cursor: pointer;
}

/* part 2 */
.part2 {
  display: flex;
  position: relative;
  padding: 186px 0 274px 362px;
}

.title2 {
  position: relative;
  font-weight: 700;
  font-size: 100px;
  line-height: 98px;
  text-transform: uppercase;
  color: #00312D;
}

.ampersand {
  top: 64px;
  left: 278px;
  position: absolute;
  color: #E9E000;
}

.titleSpan {
  margin-left: 355px;
  color: #10A196;
}

.part2desc {
  margin: 50px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  max-width: 527px;
}

.pictureContainer {
  background-image: url(img/ellipse.png);
  width: 600px;
  height: 600px;
  margin-left: -90px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -2;
}

.productPicture {
  width: 267.66px;
  height: 415.52px;
  transform: matrix(0.97, 0.26, -0.26, 0.97, 0, 0);
}

.extraPicture {
  position: absolute;
  top: 430px;
  left: 364px;
  transform: rotate(15deg);
}