@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5 {
  margin: 0;
}

ul { 
  list-style: none; 
  margin: 0;
  padding: 0;
} 

a:active,
a:hover,
a {
  text-decoration: none;
  color: #666;
}

input {
  appearance: none;
  outline: 0;
  border: none;
  background: transparent;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.content {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.commonPadding {
  padding: 0 18% 0 19%;
}

/* header */
.features {
  background-color: #00312D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.featuresRoot {
  width: 100%;
}

.featuresTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.featureTop {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.95);
}
.featureTop:after {
  content: '';
  width: 22px;
  height: 22px;
  position: absolute;
  left: -32px;
  background-image: url(img/tick.png);
}

.firstFeature, .lastFeature {
  display: none;
}

.headerCenter {
  height: 700px;
  background-image: url(img/mask.jpg);
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-left: 19%;
}

.title {
  font-weight: 700;
  font-size: 5rem;
  line-height: 70px;
  text-transform: uppercase;
}

.brNew {
  display: none;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 30px 0 50px 0;
}

.buyBtn {
  width: 260px;
  height: 65px;
  background: #00312D;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}

.pictures {
  position: relative;
  top: 75px;
  left: -75px;
}

.mainPic {
  position: relative;
  z-index: 2;
}

.mark1 {
  position: absolute;
  left: 30px;
  top: 270px; 
}
.mark2 {
  position: absolute;
  right: 110px;
  top: 100px;
}
.mark3 {
  position: absolute;
  left: 240px;
  top: 410px;
  z-index: 3;
}

.bottom {
  height: 150px !important;
  justify-content: space-between !important;
}

.featureBottom {
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #FFFFFF;
}
.featureBottom:after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  left: -70px;
  top: -10px;
  background-image: url(img/free.svg);
}

/* main */

.part {
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* part 1 */
.part1 {
  padding: 150px 8rem;
}

.bestseller {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #999999;
}

.line {
  width: 50px;
  height: 2px;
  background: #10A196;
  margin: 25px 0 27px 0;
}

.title1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 40px;
  color: #00312D;
}
.titleMark {
  color: #10A196;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 387px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  position: relative;
  margin: 0 10px;
}
.product:after {
  content: 'Bestseller';
  top: -13px;
  position: absolute;
  width: 116px;
  height: 26px;
  background: #FFC700;
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImgRoot {
  background: linear-gradient(0deg, #FAFAFA 0%, rgba(250, 250, 250, 0) 100%);
  width: 100%;
  padding-top: 12.4%;
  padding-bottom: 8%;
  display: flex;
  justify-content: center;
}

.productTitle {
  font-weight: 600;
  font-size: 1.5rem;
  color: #00312D;
  margin-top: 16px;
  padding: 0 10px;
}

.productDesc {
  font-weight: 500;
  font-size: .75rem;
  color: #808080;
  text-align: center;
  padding: 0 10px;
}

.productPrice {
  font-weight: 600;
  font-size: 1.25rem;
  color: #00312D;
  margin: 1.5rem 0 4px 0;
  padding: 0 10px;
}

.productNote {
  font-weight: 500;
  font-size: .5rem;
  color: #808080;
  padding: 0 10px;
}

.productActions {
  display: flex;
  justify-content: right;
  padding: 23px 5.4% 21px 5.4%;
  width: 100%;
}

.productBtn {
  width: 100%;
  max-width: 285px;
  height: 50px;
  background: #10A196;
  border-radius: 3px;
  color: #FFFFFF;
  text-transform: uppercase;
  position: relative;
  margin-left: 60px;
  font-size: .875rem;
}

.productBtn:after {
  content: '';
  position: absolute;
  background-image: url(img/basket.png);
  width: 50px;
  height: 50px;
  left: -60px;
  top: 0;
  cursor: pointer;
}

/* part 2 */
.part2 {
  display: flex;
  position: relative;
  padding: 186px 0 274px 19%;
}

.title2 {
  position: relative;
  font-weight: 700;
  font-size: 6.25rem;
  text-transform: uppercase;
  color: #00312D;
  line-height: 98px;
}

.ampersand {
  top: 64px;
  left: 278px;
  position: absolute;
  color: #E9E000;
}

.titleSpan {
  margin-left: 355px;
  color: #10A196;
}

.part2desc {
  margin: 50px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  max-width: 33rem;
}

.pictureContainer {
  background-image: url(img/ellipse.png);
  width: 600px;
  height: 600px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -2;
  margin-left: -90px;
}

.productPicture {
  width: 267.66px;
  height: 415.52px;
  transform: matrix(0.97, 0.26, -0.26, 0.97, 0, 0);
}

.extraPicture {
  position: absolute;
  top: 430px;
  left: 364px;
  transform: rotate(15deg);
}

/* part 3 */
.part3 {
  padding: 150px 0;
}

.avatars {
  margin: 30px 0 103px 0;
  display: flex;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 396px;
}
.slider:before {
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;
  height: 546px;
  width: 339px;
  background: linear-gradient(90deg, #FAFAFA 0%, rgba(250, 250, 250, 0) 100%);
}

.slider:after {
  content: '';
  position: absolute;
  right: 0;
  height: 546px;
  width: 339px;
  background: linear-gradient(270deg, #FAFAFA 0%, rgba(250, 250, 250, 0) 100%);
}

.reviews {
  position: absolute;
  display: flex;
  justify-content: space-between;
  transform: translate(-50%, 0);
  left: 50%;
  transition: left 1s;
}

.review {
  width: 387px;
  height: 396px;
  padding: 50px 68px 50px 50px;
  background: #FFFFFF;
  border-radius: 3px;
  margin: 0 10px;
}

.estimateRoot {
  display: flex;
}

.estimate {
  margin-right: 4px;
}

.reviewName {
  margin: 20px 0;
  font-weight: 600;
  font-size: 24px;
  color: #4D4D4D;
}

.reviewText {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.arrowLeft {
  position: absolute;
  top: 180px;
  left: 16.5%;
  z-index: 5;
}

.arrowRight {
  position: absolute;
  top: 180px;
  right: 16.5%;
  z-index: 5;
}

.hidden {
  display: none;
}

/* part 4 */
.part4 {
  background: #FFFFFF;
  padding: 234px 0 21px 0;
}

.background {
  position: absolute;
  left: 0;
  background: #FAFAFA;
  border-radius: 0px 1000px 1000px 0px;
  width: 75.3%;
  height: 947px;
}

.part4Content {
  position: relative;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 127px;
}

.part4Main {
  display: flex;
  justify-content: center;
  margin: 51px 0 252px 0;
}

.mainAvatarRoot {
  margin-left: 12.6%;
  margin-top: 30px;
  position: relative;
}
.mainAvatarRoot:before {
  content: '';
  position: absolute;
  width: 271px;
  height: 271px;
  background: #EDEDED;
  border-radius: 50%;
  bottom: 15px;
  right: -50px;
}

.mainAvatar {
  border-radius: 50%;
  overflow: hidden;
  width: 400px;
  height: 400px;
  position: relative;
  z-index: 5;
}

/* footer */
.footerTop {
  padding: 141px 19% 135px 19%;
  background-image: url(img/footerBack.jpg);
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  font-weight: 600;
  font-size: 4.375rem;
  color: #10A196;
}

.numberText {
  font-weight: 500;
  font-size: 1.5rem;
  color: #FFFFFF;
  margin-top: -10px;
}

.bound {
  width: 5px;
  height: 122px;
  background: #FFFFFF;
  opacity: 0.2;
  border-radius: 100px;
  margin: 0 78px;
}

.footerContent {
  padding-top: 142px;
  display: flex;
  justify-content: space-between;
}

.list {
  margin-top: 55px;
  height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listItem {
  font-weight: 500;
  font-size: 16px;
  color: #10A196;
  margin-top: 21px;
}

.registration {
  max-width: 449px;
  width: 100%;
  padding-top: 75px;
}

.registerTitle {
  font-weight: 500;
  font-size: 24px;
  color: #10A196;
}

.registerText {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #10A196;
  margin-top: 20px;
}

.registerInput {
  margin: 113px 10px 15px 0;
  font-weight: 500;
  font-size: 16px;
  color: #10A196;
  width: 75%;
}
.registerInput::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #10A196;
}

.submit {
  font-weight: 500;
  font-size: 16px;
  color: #10A196;
}

.footerLine {
  width: 449px;
  height: 1px;
  background: #10A196;
}

.footerBottom {
  background: #000000;
  opacity: 0.9;
  height: 100px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-weight: 500;
  font-size: 16px;
  color: #10A196;
  margin-right: 300px;
}

.payments {
  display: flex;
}

.payment {
  width: 38.14px;
  height: 24px;
  margin-left: 10px;
}


.dots {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #10A196;
  opacity: 0.2;
  margin: 0 15px;
}

.dotVisible {
  opacity: 1;
}